body {
  background: #f9f9f9;
}

.ui.container {
  margin-top: 2em;
}

.ui.header.centered {
  margin-bottom: 1em;
}

.ui.segment {
  background: #fff;
}

ul {
  list-style-type: none; /* Removes default bullets */
}

ul li::before {
  content: "– "; /* Inserts an en dash before each list item */
}